@import 'assets/colors.scss';

.wrapper {
  background-color: rgb(23, 19, 19);
  position: relative;
  min-height: 80dvh;

  main {
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      width: 80dvw;

      .inputs {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-grow: 1;

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
        }

        .left-box {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          flex-grow: 1;
          padding: 20px;
          width: 70%;
          @media (max-width: 768px) {
            width: 100%;
          }

          .input-box-small {
            display: flex;
            flex-direction: column;
            width: 280px;

            @media (max-width: 768px) {
              width: 100%;
            }
          }
        }

        .right-box {
          height: auto;
          flex-grow: 1;
          padding: 20px;
          width: 100%;

          .input-box-big {
            display: flex;
            flex-direction: column;
            flex-grow: 3;
            height: auto;
            //width: 600px;
            @media (max-width: 1024px) {
              width: 100%;
            }
          }
        }
      }

      .buttons {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        width: 100%;
        padding: 30px 20px;

        .button-main {
          background-color: $black_900;
          color: $white_900;
          padding: 5px 25px;
          border: $white_900;

          &:hover,
          &:focus {
            outline: 1px solid $gold_hover;
          }
        }
      }
    }
  }

  .blur-circle {
    height: 150px;
    width: 100px;
    top: 100px;
    right: 150px;
    transform: rotate(30deg);

    @media (max-width: 1024px) {
      height: 100px;
      width: 70px;
    }
  }

  .blur-circle-bottom {
    height: 200px;
    width: 150px;
    top: 300px;
    left: 180px;
    transform: rotate(-45deg);

    @media (max-width: 1024px) {
      height: 60px;
      width: 40px;
    }
  }

  .input-box {
    display: flex;
    flex-direction: column;
    transition: all ease 0.3s;

    &:focus-within .input-label {
      color: $gold_hover;
    }

    &:focus-within .input-underline {
      border-color: $gold_hover;
    }

    &:hover {
      .input-label {
        color: $gold_hover;
      }

      .input-underline {
        border-bottom: 1px solid $gold_hover;
      }
    }

    .input-label {
      color: $white_900;
      font-size: 15px;
      padding-left: 10px;
      transition: all ease 0.5s;
    }

    .input-underline {
      background-color: rgb(23, 19, 19, 0);
      outline: none;
      border: none;
      border-bottom: 1px solid $white_900;
      box-shadow: none;
      color: $white_900;
      padding: 10px;
      font-size: 18px;
      transition: all ease 0.5s;

      &-big {
        font-size: 16px;
      }
    }
  }
}
