<footer>
  <div class="left footer-container">
    <img routerLink="/" src="assets/icons/logo.png" alt="logo" />

    <div class="phone golden-hover" href="tel:+1234567890">
      <img routerLink="/projects" src="/assets/icons/icons8-phone-50.png" alt="phone" />
      <h2>+48 730 555 555</h2>
    </div>
    <h2>vipbud.waw&#64;gmail.com</h2>
  </div>

  <div class="right footer-container">
    <a routerLink="/" class="routing-button golden-hover">{{ 'header.aboutUs' | transloco }}</a>
    <a routerLink="/projects" class="routing-button golden-hover">{{ 'header.gallery' | transloco }}</a>
    <a routerLink="/contact" class="routing-button golden-hover">{{ 'header.contact' | transloco }}</a>
  </div>
</footer>
