.wrapper{
  max-width: 750px;
  margin: 0 auto;

  .offer{
    display: flex;
    align-items: center;
    margin: 25px;

    .title{
      font-size: 50px;
      margin: 30px;
    }

    .text{
      font-size: 22px;
      text-align: justify;
    }
  }
}
