<div class="wrapper">
  <div class="text-container">
    <p>
      Які асоціації зі словом “ремонт” виникають у вас? Більшість людей, які застали часи ремонтів кінця 20 століття,
      бояться розпочинати перетворення свого житла, адже це дорого, брудно, довго, затратно по нервах і вимагає
      вкладення величезної кількості інших ресурсів. Але сьогодні ремонт – це зовсім інший процес, який може бути не
      просто приємним для замовника, а й вкрай вигідним. Ми говоримо про ремонт “під ключ” – комплексне надання послуг
      командою фахівців “Студії ремонту”.
    </p>
  </div>

  <div class="offer">
    <img src="assets/images/pexels-houzlook-3356416.jpg" />

    <div class="wrapper-offer">
      <div class="offer-block" *ngFor="let offer of offersArray">
        <div class="title">{{ offer.title }}</div>
        <div class="text">
          {{ offer.text | transloco }}
        </div>
      </div>
    </div>
  </div>
</div>
