@import "assets/colors.scss";

.main-photo {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 600px;
    object-fit: cover;

    @media (max-width: 768px) {
      height: 300px;
    }
  }

  .main-header {
    position: absolute;
    top: 0px;
    height: 100%;
    box-shadow: 78px 4px 50px 27px rgba(50, 28, 12, 0.9);
    border-radius: 0 25px 35px 0px;
    background: linear-gradient(
      to right,
      rgba(50, 28, 12, 0.4) 0%,
      rgba(50, 28, 12, 0.6) 30%,
      rgba(50, 28, 12, 0.9) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      opacity: 1;
      z-index: 2;
      font-weight: 200;
      font-size: 65px;
      line-height: 95px;
      color: white;
      max-width: 70%;

      padding: 150px 50px 150px 100px;
      text-transform: uppercase;

      p {
        font-size: 20px;
        margin-top: 10px;
        @media (max-width: 768px) {
          font-size: 15px;
        }
      }

      @media (max-width: 768px) {
        font-size: 30px;
        padding: 100px 20px 100px 100px;
        line-height: 40px;
      }
    }
  }
}

main {
  background: rgb(10, 10, 9);
  background: linear-gradient(
    220deg,
    rgba(10, 10, 9, 1) 0%,
    rgb(32, 13, 7) 30%,
    rgba(46, 20, 10, 1) 80%,
    rgb(27, 11, 5) 95%
  );
}
