
<div class="wrapper">
  <main>
    <div *ngFor="let images of gallery">
      <div class="f-card">
        <p-galleria
          class="p-galleria"
          [value]="images.gallery"
          [showItemNavigators]="true"
          [circular]="false"
          [showIndicators]="false"
          [responsiveOptions]="responsiveOptions"
          [numVisible]="3"
        >
          <ng-template pTemplate="item" let-item>
            <img
              [src]="item.itemImageSrc"
              alt="image"
              style="display: block"
            />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
              <img class="small-image" [src]="item.thumbnailImageSrc" style="display: block" alt="small" />
            </div>
          </ng-template>
          <ng-template pTemplate="caption"  let-item>
            <div class="description">
              <h4>
                {{ images.title }}
              </h4>
              <p>{{ images.alt }}</p>
            </div>
          </ng-template>
        </p-galleria>
      </div>
    </div>
  </main>
  <div class="blur-circle"></div>
  <div class="blur-circle-bottom"></div>
</div>
