@import "assets/colors.scss";

.wrapper {
  //background: rgb(10, 10, 9);
  background: linear-gradient(
    78deg,
    rgb(11, 9, 9) 0%,
    rgb(37, 33, 33) 30%,
    rgb(39, 32, 32) 50%,
    rgb(44, 37, 37) 80%,
    rgb(23, 19, 19) 95%
  );
  //background-color: #171313;

  main {
    //background-image: url("/assets/images/sofa.jpg");
    //background-size: contain;
    //background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80dvh;

    @media (max-width: 768px) {
      background-image: none;
    }
    .f-card {
      margin: 40px 15px;
      width: 80dvw;
      max-width: 900px;

      img {
        width: 100%;
        object-fit: cover;
      }

      .small-image {
        width: 150px;
        object-fit: contain;

        @media (max-width: 768px) {
          width: 70px;
        }
      }

      .description {
        padding: 0.5rem;

        @media (max-width: 768px) {
          padding: 0.2rem;
          * {
            margin: 2px;
          }
        }
        h4 {
          @media (max-width: 768px) {
            font-size: 1.2rem;
          }
        }

        p {
          font-size: 1.3rem;
          @media (max-width: 768px) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
