@import 'assets/colors.scss';

.wrapper {
  background-color: rgb(23, 19, 19);
  position: relative;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80dvh;
    z-index: 10;
    position: relative;

    @media (max-width: 768px) {
      background-image: none;
    }
    .f-card {
      margin: 40px 15px 0px 15px;
      width: 90dvw;
      max-width: 900px;

      img {
        width: 100%;
        object-fit: cover;
      }

      .small-image {
        width: 150px;
        object-fit: contain;

        @media (max-width: 768px) {
          width: 70px;
        }
      }

      .description {
        padding: 0.5rem;

        @media (max-width: 768px) {
          padding: 0.2rem;
          * {
            margin: 2px;
          }
        }
        h4 {
          @media (max-width: 768px) {
            font-size: 1.2rem;
          }
        }

        p {
          font-size: 1.3rem;
          @media (max-width: 768px) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  //Separate class
  .blur-circle {
    height: 650px;
    width: 350px;
    top: 200px;
    left: 250px;
    transform: rotate(-30deg);

    @media (max-width: 1024px) {
      height: 150px;
      width: 100px;
    }
  }

  .blur-circle-bottom {
    height: 600px;
    width: 450px;
    top: 900px;
    right: 150px;
    transform: rotate(45deg);
    @media (max-width: 1024px) {
      height: 100px;
      width: 70px;
      top:400px
    }
  }
}
