main {
  background: rgb(10, 10, 9);
  background: linear-gradient(
    220deg,
    rgba(10, 10, 9, 1) 0%,
    //rgb(32, 13, 7) 30%,
    rgb(48, 19, 11) 30%,
    rgb(64, 30, 20) 50%,
    rgb(46, 20, 6) 80%,
    rgb(27, 11, 5) 95%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80dvh;

  .f-card {
    margin: 40px 15px;
    width: 800px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
