$black_900: #000000;
$black_500: #121111;
$black_100: #272727;

$gold_900: #ffc92b;
$gold_500: #f2d46f;
$gold_100: #fdcd4b;

$gold_hover: #ffa400;
$gold_inactive: #8c7a41;

$brown_900: #190e04;
$brown_500: #683a19;
$brown_100: #87512a;

$white_900: #ffffff;
