$black_900: #000000;
$black_500: #121111;
$black_100: #272727;

$gold_900: #ffc92b;
$gold_500: #F2D46F;
$gold_100: #fdcd4b;

$brown_900: #321c0c;
$brown_500: #683a19;
$brown_100: #87512a;

$white_900: #ffffff;
