
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "@ng-select/ng-select/themes/default.theme.css";
@import "assets/colors.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  all: unset;
  cursor: pointer;
}

.routing-button{
  color: $gold_900
}

.golden-hover{
  transition: all ease .5s;
  &:hover{
   color: $gold_hover;
    transform: translateY(-3px);
  }
}
//$black_900: #000000;
//$black_500: #121111;
//$black_100: #272727;
//
//$gold_900: #d6ab2b;
//$gold_500: #fbc928;
//$gold_100: #fdcd4b;
//
//$brown_900: #321c0c;
//$brown_500: #683a19;
//$brown_100: #87512a;
//
//$white_900: #ffffff;
